@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    height: 100%;
}
main {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    background-color: gray;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main div {
    margin: auto;
    width: 250px;
    height: 200px;
    text-align: center;
    line-height: 10%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 0px rgb(0 0 0.5);
}
div h1 {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 2.5rem;
    font-weight: bold;
}
div h3 {
    font-size: 1.5rem;
}
/* div:nth-of-type(3n) {
    background-color: #B2B2CA;
} */
 
.t1 {
    background-color: #F0F0BC;
    transform: rotate(-5deg);
}
.t2 {
    background-color: #C1DBBE;
    transform: rotate(5deg);
}
.t3 {
    background-color: #B2B2CA;
    transform: rotate(-5deg);
}
.t4 {
    background-color: #C1DBBE;
    transform: rotate(5deg);
}
.t5 {
    background-color: #F0F0BC;
    transform: rotate(-5deg);
}
.t6 {
    background-color: #B2B2CA;
    transform: rotate(-5deg);
}
.t7 {
    background-color: #F0F0BC;
    transform: rotate(-5deg);
}
.t8 {
    background-color: #C1DBBE;
    transform: rotate(5deg);
}